<!--<h2 mat-dialog-title>{{titulo}}</h2>-->
<div mat-dialog-title class="blue-gradient">{{datos.accion == 'EDITAR' ? 'EDITAR TIPO PÁRAMETRO' : 'REGISTRAR TIPO PÁRAMETRO'}}</div>

<form *ngIf="reactiveForm" [formGroup]="reactiveForm" #form="ngForm">
  <mat-dialog-content>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <mat-form-field class="col-12" appearance="outline">
          <mat-label>Nombres</mat-label>
          <input matInput name="nombre" formControlName="nombre" placeholder="Nombres" required minlength="1"
                 maxlength="250" [class.is-invalid]="nombre.invalid && (nombre.dirty || nombre.touched)">
          <mat-hint *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
            <span *ngIf="nombre.errors?.['required']"> El campo profesión es obligatorio</span>
            <span *ngIf="nombre.errors?.['minlength']">Minimo 10 caracteres</span>
            <span *ngIf="nombre.errors?.['maxlength']">Maximo de caracteres es 250</span>
          </mat-hint>
        </mat-form-field>
      </div>

      <div class="col-lg-12 col-md-12 col-sm-12">
        <mat-form-field class="col-12" appearance="outline">
          <mat-label>Apellido</mat-label>
          <input matInput name="apellido" formControlName="apellido" placeholder="apellido" required minlength="1"
                 maxlength="250" [class.is-invalid]="apellido.invalid && (apellido.dirty || apellido.touched)">
          <mat-hint *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)">
            <span *ngIf="apellido.errors?.['required']"> El campo profesión es obligatorio</span>
            <span *ngIf="apellido.errors?.['minlength']">Minimo 10 caracteres</span>
            <span *ngIf="apellido.errors?.['maxlength']">Maximo de caracteres es 250</span>
          </mat-hint>
        </mat-form-field>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12">
        <mat-form-field class="col-12" appearance="outline">
          <mat-label>E-mail</mat-label>
          <input matInput name="email" formControlName="email" placeholder="email" required minlength="1"
                 maxlength="250" [class.is-invalid]="email.invalid && (email.dirty || email.touched)">
          <mat-hint *ngIf="email.invalid && (email.dirty || email.touched)">
            <span *ngIf="email.errors?.['required']"> El campo profesión es obligatorio</span>
            <span *ngIf="email.errors?.['minlength']">Minimo 10 caracteres</span>
            <span *ngIf="email.errors?.['maxlength']">Maximo de caracteres es 250</span>
          </mat-hint>
        </mat-form-field>
      </div>

      <div class="col-lg-12 col-md-12 col-sm-12">
        <mat-form-field class="col-12" appearance="outline">
          <mat-label>Telefono</mat-label>
          <input matInput name="telefono" formControlName="telefono" placeholder="telefono" required minlength="1"
                 maxlength="250" [class.is-invalid]="telefono.invalid && (telefono.dirty || telefono.touched)">
          <mat-hint *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)">
            <span *ngIf="telefono.errors?.['required']"> El campo profesión es obligatorio</span>
            <span *ngIf="telefono.errors?.['minlength']">Minimo 10 caracteres</span>
            <span *ngIf="telefono.errors?.['maxlength']">Maximo de caracteres es 250</span>
          </mat-hint>
        </mat-form-field>
      </div>

    </div>
  </mat-dialog-content>


  <mat-dialog-actions align="end">
    <button mat-flat-button color="primary" (click)="close()">
      <mat-icon>close</mat-icon>
      Cancelar
    </button>
    <button mat-flat-button color="primary" (click)="datos.accion=='EDITAR'? editar():registrar()"
            [disabled]="!reactiveForm.valid">
      <mat-icon>{{datos.accion == 'EDITAR' ? 'save_as' : 'save'}}</mat-icon>
      {{datos.accion == 'EDITAR' ? 'Modificar' : 'Registra'}}
    </button>
  </mat-dialog-actions>
</form>
